
*.tlog
*.lastbuildstate
*.tlog
*.tlog
*.db
.vs/Moneta/v16/Browse.VC.opendb
*.ipch
.vs/Moneta/v16/.suo
x64/Release/Moneta.ipdb
*.iobj
x64/Release/Moneta.ipdb
*.log
x64/Release/Moneta.log
*.pdb
x64/Release/Moneta.pdb
*.iobj
*.iobj
*.ipdb
*.iobj
*.tlog
*.tlog
*.pdb
x64/Release/vc142.pdb
*.tlog
*.tlog
*.log
*.log
*.obj
*.iobj
*.log
*.iobj
*.iobj
*.ipdb
*.log
*.tlog
*.tlog
*.pdb
*.tlog
x64/Release/Moneta.exe
*.lock
*.ide-shm
*.cache
*.dat
